.color-blaze { color: #e00; }

.color-freeze { color: #0ee; }

.color-spark { color: #ee0; }

.color-divine { color: #e0e; }

.color-no { opacity: .5; }

.tag-square {
	width: 20px;
	height: 20px;
}

main {
	margin-top: 85px;
}

.panel-heading > h3 {
	margin: 0;
}

.panel-heading > h3 > a {
	color: #000;
}

.panel-img {
	position: relative;
}

.panel-img > img {
	min-height: 75px;
}

.panel-img h1,
.panel-img h2,
.panel-img h3,
.panel-img h4,
.panel-img h5,
.panel-img h6 {
	margin: 0;
}

.label-size,
.label-name {
	position: absolute;
	font-size: 75%;
	opacity: .75;
	left: 5px;
}

.label-name {
	top: 5px;
}

.label-size {
	bottom: 5px;
}

.panel-img .label {
	/*margin: 0;*/
}

.panel > .table > tbody:first-child > tr:first-child td,
.panel > .table > tbody:first-child > tr:first-child th {
	border-top: 1px solid #ddd
}

.panel > .table-bordered > tbody > tr:first-child > td,
.panel > .table-bordered > tbody > tr:first-child > th,
.panel > .table-bordered > thead > tr:first-child > td,
.panel > .table-bordered > thead > tr:first-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:first-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:first-child > th {
	border-bottom: 1px solid #ddd
}

.label-drop {
	font-size: 100%;
	float: right;
}

.panel-aragami .list-unstyled li {
	border-bottom: 1px solid #f2f2f2;
}
.panel-aragami .list-unstyled li:last-child {
	border-bottom: none;
}
.panel-aragami .list-unstyled {
	margin-bottom: 0;
}

.np-t { padding-top: 0 !important; }
.np-r { padding-right: 0 !important; }
.np-b { padding-bottom: 0 !important; }
.np-l { padding-left: 0 !important; }
.np-x { padding-right: 0 !important; padding-left: 0 !important; }
.np-y { padding-top: 0 !important; padding-bottom: 0 !important; }

.nm-t { margin-top: 0 !important; }
.nm-r { margin-right: 0 !important; }
.nm-b { margin-bottom: 0 !important; }
.nm-l { margin-left: 0 !important; }
.nm-x { margin-right: 0 !important; padding-left: 0 !important; }
.nm-y { margin-top: 0 !important; margin-bottom: 0 !important; }